# macOS
.DS_Store

# dependencies
node_modules

# build output
dist
.vite

# local env
.env
.env.*

# editors
.vscode

# Local Netlify folder
.netlify

# logs
*.log

# TypeScript build info
*.tsbuildinfo
